/* 浅蓝背景 */
body {
  background: #d9ecff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0f3c4c; /* ← 你选的颜色放这里 */
  text-align: center;

}

/* 内容居中 */
.content {
  max-width: 90%;
  margin: auto;
}

/* 随机字体池（JS 会随机选择其中一种） */
.random-font {
  font-family: var(--font-choice, Arial);
}

/* Dropzone */
#dropzone {
  width: 320px;
  height: 240px;
  border: 3px dashed #888;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F5FA;
  color: #999;
  font-size: large;
  font-weight: bold;
  margin: 20px auto;
  cursor: pointer;
}

#dropzone.hover {
  border-color: #2b8efc;
  color: #2b8efc;
}

/* Progress bar */
#progressContainer {
  width: 320px;
  height: 10px;
  background: #42A231;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #97FA48;
  transition: width 0.3s;
}

#preview {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}